@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-beige-dark text-brand-gray-dark;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to bottom, #F5F1EC, #EFEAE5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Arial', sans-serif;
  @apply text-brand-brown;
}
